<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <ion-title>Projects</ion-title>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="getProjects(segment)" >
      <ion-segment-button value="all">
        Projects
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" (ionInput)="getItems($event)" placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content project-list">
  <ion-card #cardProject class="project-card" *ngFor="let project of projectDir">
    <ion-card-header>
      <button ion-item detail-none (click)="goToProjectDetail(project)">
        <ion-thumbnail item-left>
          <img [src]="project.picture" alt="Project profile pic">
        </ion-thumbnail>
        <h2>{{project.title}}</h2>
        <br>
        <h4>{{project.tech}}</h4>
      </button>
    </ion-card-header>

    <ion-row no-padding>
      <ion-col text-left>
        <button ion-button clear small icon-left color="primary" *ngIf="segment === 'all'"
                (click)="addProjectToFavorites(project)">
                <ion-icon name="star"></ion-icon>
                Favorite
        </button>
        <button ion-button clear small icon-left color="primary" *ngIf="segment === 'favorites'"
                (click)="removeProjectFromFavorites(project)">
                <ion-icon name="star"></ion-icon>
                Remove
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small icon-left color="primary">
          <ion-icon name="share-alt"></ion-icon>
          Share
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small icon-left color="primary">
          <ion-icon name="chatboxes"></ion-icon>
          Contact
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
